
@{
    ViewBag.Title = "PaginaPrincipal";
}

<h2>Pagina Principal</h2>

@section Scripts {

<script type="text/javascript">

    if ('@ViewBag.mensaje' != "") {
        alert('@ViewBag.mensaje');
    }

</script>

}






