
@{
    ViewBag.Title = "PaginaPrincipal";
}

<center>

    <h2>HOTEL BENINGTON</h2>

    <b></b>

    <img src="~/img/Habitacion presidencial.jpg" />

</center>

@section Scripts {

<script type="text/javascript">

    if ('@ViewBag.mensaje' != "") {
        alert('@ViewBag.mensaje');
    }

</script>

}






